<html>
<title>This ansible automation test page</title>
<head>
<h1>Welcome to Inurture </h1>
 <h2> The host name is {{ ansible_fqdn }} </h2>
</head>
<body>
This page shows you have successfully configured apache server
</body>
</html>
